[project]
name = "sub-project-one"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "django>={{ SUB1_DJANGO_PIN }}",
    "requests>={{ SUB1_REQUESTS_PIN }}",
]

[dependency-groups]
deployment = [
    "uwsgi>={{ SUB1_UWSGI_PIN }}",
]
